body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #b9bce7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(66, 61, 61, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #c71313;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
